:root{
  --fontText: 1.4rem;
  --titleSize: 1.8rem:
}
*{
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

.navbar {
  font-size: 1.6rem;
}
.dropdown-item{
  font-size: var(--fontText);
}
.navbar-brand {
  margin-left: 38%;
  font-size: 2rem;
}
.options { 
  display: flex;
  width: 100vw;
  height: 3.8rem;
  background-color: #e8e8e8;
  justify-content: space-evenly;
  align-items: center;
}
.categoria {
  font-size: var(--fontText);
}
.categoria a {
  text-decoration: none;
  color: black;
  margin: 0;
}
.categoria a:hover {
  text-decoration: underline;
}